<!DOCTYPE html>
<html lang="nl">

<%- include("./partials/head.ejs") -%>

<body>

    <div>
        <img src="./images/rijksmuseum.svg" alt="Rijksmuseum logo">
    </div>

    <%- include("./partials/header.ejs") -%>

    <main id="zoeken_page">
        <form id="zoekbalk">
            <label>
                <input type="search" placeholder="Zoeken...">
                <button></button>
            </label>
        </form>
        <p>Type alsjebleeft een ful naam van de kunstenaar, title, type of material</p>


        <!-- zoeken scherm -->
        <%- include("./partials/zoeken.ejs") -%>


        <!-- top 10 -->
        <%- include("./partials/toptien.ejs") -%>


        <!-- data bage -->
        <article>
            <button></button>
        </article>
    </main>

    <script type="text/javascript"> 
        var x = document.getElementById('demo') //make sure this tag is below "demo"
        
        if (navigator.geolocation) { 
             navigator.geolocation.getCurrentPosition(function(position){   
                  x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude; 
                  console.log(position); //client side JS will never print to your terminal.  It only prints to the browser.
                }); 
              } else   
                    x.innerHTML = "Geolocation is not supported by this browser.";
        
        </script>
        <script src="/script/script.js"></script>
    </body>
</html>