<!DOCTYPE html>
<html lang="nl">

<%- include("./partials/head.ejs") -%>

<body>
    <%- include("./partials/header.ejs", {data:data} ) -%>

    <main>
        <!-- handelInput -->
        <form id="zoekbalk" action="/zoekResultaten" method="post">
            
            <label>
                <input type="search" name="search" id="search" placeholder="Zoeken..." required>
            </label>
            <input type="submit" value="">
        </form>
        <p>Type alsjebleeft een ful naam van de kunstenaar, title, type of material</p>

        <!-- top 10 -->
        <%- include("./partials/toptien.ejs", {data:data} ) -%>
    </main>

    <script type="text/javascript"> 
        var x = document.getElementById('demo') //make sure this tag is below "demo"
        
        if (navigator.geolocation) { 
             navigator.geolocation.getCurrentPosition(function(position){   
                  x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude; 
                  console.log(position); //client side JS will never print to your terminal.  It only prints to the browser.
                }); 
              } else   
                    x.innerHTML = "Geolocation is not supported by this browser.";
        
        </script>

        <script src="/script/script.js"></script>
    </body>
</html>