<!DOCTYPE html>
<html lang="nl">

<%- include("./partials/head.ejs") -%>

    <body>
        <%- include("./partials/header.ejs", {data:data} ) -%>

            <main>
                <!-- handelInput -->
                <form id="zoekbalk" action="/zoekResultaten" method="post">
                    <label>
                        <input type="search" name="search" id="search" placeholder="Zoeken..." required>
                        <input type="submit" value="">
                    </label>
                </form>
                <p>Type alsjebleeft een ful naam van de kunstenaar, title, type of material</p>

                <!-- top 10 -->
                <%- include("./partials/toptien.ejs", {data:data} ) -%>
            </main>

            <%- include("./partials/footer.ejs") -%>
    </body>

</html>