<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") -%>
 

    <body>
        <article class="offline">
            <a href="/#zoekbalk"></a>

            <img src="/images/offline.svg" alt="Sorry je bent offline image" loading="lazy" >
        </article>

        <%- include("./partials/footer.ejs") -%>
    </body>

</html>