<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") -%>
 

    <body>
        <article>
            <a href="/#zoekbalk"></a>

            <img src="/images/offline.svg" alt="Sorry je bent offline image" loading="lazy" >
<!-- 
            <section>
                <div>
                    <h2>Je bent offline</h2>
                    <p> internet check</p>
                </div>
            </section> -->

        </article>

        <%- include("./partials/footer.ejs") -%>
    </body>

</html>